* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: rgb(180, 4, 39);
  --font-color: black;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  text-align: center;
}

section {
  margin-bottom: 30px;
  padding: 0px 80px;
}

/*Navigation*/
nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 0px 80px;
}

.logo {
  width: 80px;
}

.logo__image {
  width: 80px;
  height: auto;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  margin-right: 30px;
}

.menu__item a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.menu__item a:hover {
  color: var(--font-color);
}

.toggle {
  width: 38px;
  height: auto;
  display: none;
}

.toggle img {
  width: 100%;
}

/*Home*/
#home {
  text-align: center;
}

.home__name {
  color: var(--primary-color);
}

.home__title {
  margin-bottom: 30px;
}

.about__title {
  color: var(--primary-color);
  padding-top: 30px;
}

.skills__title {
  color: var(--primary-color);
}

.skills__desc {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.skills__desc span {
  color: var(--primary-color);
  font-weight: 700;
}

.education__title {
  color: var(--primary-color);
}

.education__card {
  margin-bottom: 30px;
}

.education__card h4 {
  color: var(--primary-color);
}

.work__title {
  color: var(--primary-color);
}

.work h4 {
  color: var(--primary-color);
}

/*Portfolio*/
.portfolio {
  margin-bottom: 2rem;
}

.portfolio__title {
  color: var(--primary-color);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
}

.card {
  width: 100%;
  height: auto;
  margin: 0 0 2rem 0;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  text-align: center;
}

.card__image {
  width: 100%;
  height: 180px;
  margin-bottom: 0.6rem;
}

.card__title {
  margin-bottom: 0.6rem;
}

.card__desc {
  margin-bottom: 2rem;
}

.card__btn {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__btn a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__btn a img {
  width: 30px;
  height: auto;
}

.card__btn a:first-of-type {
  margin-right: 10px;
}

.contact h3 {
  color: var(--primary-color);
}

footer {
  padding: 30px 0;
}

.social__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icons li {
  margin-right: 30px;
}

.social__icons li :last-of-type {
  margin-right: 0;
}

.social__icons li a {
  color: var(--primary-color);
}

.social__icons li a:hover {
  color: var(--font-color);
}

.social__icons li a i {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 0px 40px;
  }
  .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    padding: 0 30px;
  }
  .menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 30px;
  }
  .menu.active {
    left: 0;
  }
  .menu__item {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */